p{
    font-family: 'Domine', serif;
}
.allParas{
    font-family: 'Domine', serif;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
    color: #444444;
}

.allHeaders{
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    color: #444444;
}

.blogHomeMainCont{
    border: 1px solid #F8F8F8;
    margin: auto;
    margin-top: 70%;
    margin-bottom: 200px;
    margin-bottom: 0px;
    position: relative;
    background-color: #F8F8F8;
}

.blogHomeCont{
    /* border: 1px solid red; */
    margin: auto;
    margin-top: -150px;
    width: 85%;
    box-shadow: 0 30px 50px 0 rgb(1 1 1 / 15%);
    padding: 10rem 14% 11rem;
    background-color: white;
    position: relative;
}
