.nextBackButton  i{
    color: #262626; 
    font-size: 200px;
    font-weight: 700; 
}
.nextBackButton  i:hover{
    color: #1b1b1b;
}

.readOnBtn{
    text-decoration: none;
}

.readOnBtn > button{
    padding: 0 20px;
    height: 40px;
    outline: none;
    background: white;
    color: #191c27;
    border: 1px solid white;
    cursor: pointer;
    min-width: 160px;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 600;
}

